* { 
	margin: 0px;
	padding: 0px; outline: 0;
}
#menu {  
	text-align: center;
	font-size: 0.7em;
	width: 990px;
	margin: 0px auto;
}

#menu ul { 
	list-style-type: none;
}
#menu ul li.nivel1 { 
	float: left;
	width: 162px;
	margin-right: 2px;
	
}
#menu ul li a {
	display: block;
	text-decoration: none;
	color: #0088cc;
	background-color: #FFF;
	border: solid 1px #FFF;
	padding: 8px;
	position: relative;
	/* Porto Style*/
	border-radius: 4px;
	font-size: 12px;
	font-style: normal;
    font-weight: 700;
    line-height: 20px;
    padding: 10px 13px;
    text-transform: uppercase;
}
#menu ul li:hover {
	position: relative;
}
#menu ul li a:hover, #menu ul li:hover a.nivel1 {
	background-color: #0088cc;
	color: #FFF;
	position: relative;
}
#menu ul li a.nivel1 {
	display: block!important;display: none;
	position: relative;
}
#menu ul li ul {
	display: none;
}
#menu ul li a:hover ul, #menu ul li:hover ul {
	display: block;
	position: absolute;left: 0px;
}
#menu ul li ul li a {
	width: 160px;
	padding: 6px 0px 8px 0px;
	border-top-color: #000;
}
#menu ul li ul li a:hover {
	border-top-color: #000;
	position: relative;
}
table.falsa {
	border-collapse:collapse;
	border:0px;
	float: left;
	position: relative;
}

/* Social Icons */
.social-icons {
	margin: 0;
	padding: 0;
	width: auto;
}

.social-icons li {
	display: inline-block;
	margin: -1px 1px 5px 0;
	padding: 0;
	border-radius: 100%;
	overflow: visible;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.social-icons li a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background: #FFF;
	border-radius: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	color: #333 !important;
	text-decoration: none;
}

.social-icons li:hover a {
	background: #171717;
	color: #FFF !important;
}

.social-icons li:hover.social-icons-twitter a {
	background: #1aa9e1;
}