@charset "utf-8";
/* CSS Document */

.player_box {overflow: hidden; border: 1px solid #d0d0d0; padding: 2px 2px 2px 2px; font-size: 11px; color: #777777}
.player_data_photo {float: left; border: 1px Solid #c0c0c0; background-color: #ffffff; margin-right: 5px; }
.player_data_main {float: left;}
.player_data_main_aux {float: left; padding-left:10px}
.player_data_block {margin-top: 7px; font-size: 11px; color: #777777; border-bottom: 0px solid #d0d0d0; padding-bottom: 7px}
.player_data_block_white {margin-top: 7px; font-size: 11px; color: #777777; border-bottom: 1px solid #d0d0d0; padding-bottom: 7px; text-align: center}
.player_data_title {margin-right: 2px; font-weight: bold}
.player_data_value {margin-right: 0px}
.image_block {border-color:White;border-width:2px;border-style:Solid;height:110px;width:100px;}
.imgPhoto{height:110px;width:100px;}
#imgPhoto{height:110px;width:100px;}


/* CSS Tabla Datos */
.table_box {overflow: hidden; border: 1px solid #d0d0d0; padding: 2px 2px 2px 2px; font-size: 11px; color: #777777}
.img_victory{height:16px;width:15px;} 	/*	#009045	*/
.img_defeat{height:16px;width:15px;}	/*	#BA007C	*/
.img_torneo{height:15px;width:15px;}

#tab-1{
	padding:0px;
	margin:0px;
}
#tab-2{
		padding:0px;
	margin:0px;
}

@media (max-width: 360px){
	/** player **/
	.player_box {overflow: hidden; border: 1px solid #d0d0d0; padding: 2px 2px 2px 2px; font-size: 8px; color: #777777}
	.player_data_photo {float: left; border: 1px Solid #c0c0c0; background-color: #ffffff; margin-right: 5px;}
	.player_data_main {float: left;}
	.player_data_main_aux {float: left; padding-left:2px}
	.player_data_block {margin-top: 7px; font-size: 8px; color: #777777; border-bottom: 0px solid #d0d0d0; padding-bottom: 7px}
	.player_data_block_white {margin-top: 7px; font-size: 8px; color: #919395; border-bottom: 1px solid #e0e0e0; padding-bottom: 7px; text-align: center}
	.player_data_title {margin-right: 2px; font-weight: bold}
	.player_data_value {margin-right: 0px}
	.image_block {border-color:White;border-width:2px;border-style:Solid;height:75px;width:70px;}
	.imgPhoto{height:75px;width:70px;}
	#imgPhoto{height:75px;width:70px;}
	
	
	/* CSS Tabla Datos */
	.table_box {overflow: hidden; border: 1px solid #d0d0d0; padding: 2px 2px 2px 2px; font-size: 8px; color: #777777}
}