/* Add here all your CSS customizations */

.field.football {
    width: 500px;
    height: 450px;
    margin: 0 auto 20px;
    padding-top: 40px;
}

.field.football>div {
    height: 100px;
/*    white-space: nowrap;*/
    text-align: center;
}


.field.football .player .info {
    background: rgba(0,0,0,.3);
    text-shadow: 1px 1px #333;
    font-size: 11px;
    border-radius: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
    padding: 0 23px 0 3px;
    overflow-wrap: normal;
}
.field.football .player>* {
    position: relative;
}

.field.football .player {
    display: inline-table;
    position: relative;
    color: #fff;
    margin: 0 10px;
    min-width: 60px;
	width: 150px;
}
.field.football .player .points {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,.25);
}

.ui-autocomplete-loading {
	background: white url("../img/indicator.gif") right center no-repeat;
}

@media(min-width:768px){
	.field.football .player .player-icon {
	    width: 75px;
	    height: 75px;
	    border-radius: 50%;
	}
	.field.football .player>* {
    	position: relative;
	}

	.icon, img {
    	vertical-align: middle;
	}
	.field.football .player .info {
	    background: rgba(0,0,0,.3);
	    text-shadow: 1px 1px #333;
	    font-size: 11px;
	    border-radius: 20px;
	    line-height: 20px;
	    color: #fff;
	    font-weight: 700;
	    padding: 0 23px 0 3px;

	}
}

<!----------------------------------------------------------------------------------->
/*
.box{

}
.field{
	background: transparent url("../img/court.png") no-repeat scroll center bottom;
	border: 0px none;
	height: 500px;
	padding: 0px;
	position: relative;
	text-align: center;
	width: 500px;
	margin: auto;
}	

.pic{
	width: 75px;
	height: 75px;
	background-size: 75px auto;
	margin: auto;
	position: relative;
}

.field table{
	width: 100%;
	border-spacing: 100px 110px; 
	border-collapse: separate;
}

.field top{
	position: absolute;
	margin-top: 50px;
	z-index: 1;
}

.field bottom{
	position: absolute;
	margin-top: 10px;
	z-index: 1;
}
*/