/* Add here all your CSS customizations */

.field.football {
    width: 500px;
    height: 450px;
    margin: 0 auto 20px;
    padding-top: 40px;
}

.field.football>div {
    height: 100px;
/*    white-space: nowrap;*/
    text-align: center;
}
.field.football .player .info {
    background: rgba(0,0,0,.3);
    text-shadow: 1px 1px #333;
    font-size: 11px;
    border-radius: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: 700;
    padding: 0 23px 0 3px;
    overflow-wrap: normal;
}
.field.football .player>* {
    position: relative;
}
.field.football .player .player-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.field.football .player {
    display: inline-table;
    position: relative;
    color: #fff;
    margin: 0 10px;
    min-width: 60px;
	width: 150px;
}
.field.football .player .points {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0,.25);
}
.ui-autocomplete-loading {
	background: white url("../img/indicator.gif") right center no-repeat;
}
/* tres columnas*/
#wrapper {
    width:100%;
    height:auto;
    margin:auto;
}
#main {
    width:100%;
    overflow:hidden;    
}
#column1 {
    width:25%;
    float:left;
}
#column2 {
    width:25%;
    float:left;
}
#column3 {
    width:25%;
    float:left;
}
#column3 {
    width:25%;
    float:left;
}
.catLiga{	
    display: block;    
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* fin tres columnas*/
.points{font-weight:700;font-size:1.25rem}
.points.points-worst{color:red}
.points.points-normal{color:#ff9800}
.points.points-good{color:#10af00}
.points.points-best{color:#03a9f4}
.points.bg{color:#fff;background:#bbb}
.points.bg.points-worst{background:red}
.points.bg.points-normal{background:#ff9800}
.points.bg.points-good{background:#10af00}
.points.bg.points-best{background:#03a9f4}


/****** Jugador *****/
.entity-info {
    text-align: center;
}

.player-detail{
    background-color: #edf0f5;
    padding: 0;
    max-width: 90%;
}
.player-detail .player-icon {
    max-width: 160px;
    max-height: 160px;
    border-radius: 50%;
    border: 4px solid #eceff1;
    background-color: #eceff1;
}
.player-detail .team img {
    max-height: 30px;
    max-width: 30px;
}
.panel .body {
    border: 1px solid #e4e5e7;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    background: #fff;
}
.panel .body h4 {
    text-transform: uppercase;
    font-size: 1.65rem;
    margin-top: 0;
    font-weight: 600;
    text-align: left;
}
.panel .body .fa-info-circle {
	font-size: 3em;
	float: right;
}
.panel .body .fa-line-chart {
	font-size: 3em;
	float: right;
}
.panel .body .fa-bar-chart{
	font-size: 3em;
	float: right;
}
.icon-info:before {
	content: "\e00e";
}
.icon:before {
    font-family: comuniame!important;
    content: attr(data-icon);
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.stats .stat {
    text-align: center;
    padding: 25px 0;
    border-right: 1px solid #e8e9ee;
    color: #29323a;
    font-weight: 600;
    font-size: 1.25rem;
}
.stats .stat span {
    color: #0088cc;
    font-size: 1.65rem;
}
.stats .stat h5 {
    margin: 0;
    padding: 0;
    color: #b4b8bb;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.1rem;
}
.stats .row {
    margin: 0;
    border-bottom: 1px solid #e8e9ee;
}
.form-control, .input, .meditor, input, select, textarea {    
    padding: 5px;
    margin-left: 5px;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.points-list .day {
    padding-right: 5px;
    width: 1%;
    color: #999;
    text-align: right;
    font-size: .95rem;
}
.points-list td {
    padding: 0;
    height: 20px;
    text-align: left;
    border-right: 1px solid #ddd;
}
.points-list .match .team img {
    max-height: 18px;
    max-width: 18px;
}
.points-list .match {
    padding: 0 2px;
    text-align: center;
}
.points-list td {
    padding: 0;
    height: 20px;
    text-align: left;
    border-right: 1px solid #ddd;
}
.points-list td.no-border {
    border-right: 0;
}
.selTemporada{
	display: initial;
	width: auto;
}

.player-card .pic .player-icon {
    width: 65px;
    height: 100%;
    margin: 0 10px 0 5px;
    border-radius: 50%;
    border: 3px solid #eceff1;
    background-size: 60px;
    background-repeat: no-repeat;
    background-color: #eceff1;
    background-position: center bottom;
}
.player-card .pic {
    position: relative;
    display: block;
    float: left;
    margin: 0 5px;
}

.pull-left {
    float: left !important;
}





@media(min-width:768px){

	.field.football .player .player-icon {
	    width: 100px;
	    height: 100px;
	    border-radius: 50%;
	}
	.field.football .player>* {
    	position: relative;
	}

	.icon, img {
    	vertical-align: middle;
	}
	.field.football .player .info {
	    background: rgba(0,0,0,.3);
	    text-shadow: 1px 1px #333;
	    font-size: 11px;
	    border-radius: 20px;
	    line-height: 20px;
	    color: #fff;
	    font-weight: 700;
	    padding: 0 23px 0 3px;
	}
	col-md-4 {
		width: 33.33333333%;
	}
	.panel .body {
	    padding: 20px;
	}

	.panel .body {
	 	padding: 20px;
	}
	.stats .stat span {
	    font-size: 2rem;
	}
}




<!----------------------------------------------------------------------------------->
/*
.box{

}
.field{
	background: transparent url("../img/court.png") no-repeat scroll center bottom;
	border: 0px none;
	height: 500px;
	padding: 0px;
	position: relative;
	text-align: center;
	width: 500px;
	margin: auto;
}	

.pic{
	width: 75px;
	height: 75px;
	background-size: 75px auto;
	margin: auto;
	position: relative;
}

.field table{
	width: 100%;
	border-spacing: 100px 110px; 
	border-collapse: separate;
}

.field top{
	position: absolute;
	margin-top: 50px;
	z-index: 1;
}

.field bottom{
	position: absolute;
	margin-top: 10px;
	z-index: 1;
}
*/